header {
    text-align: center;
    padding: 40px;
    background-color: dimgrey;
    font-size: 2rem;
}

main {
    display: flex;
    flex-wrap: wrap;
}

main div {
    padding: 20px;
    box-sizing: border-box;
}

main div:nth-child(1) {
    width: 50%;
    background-color: gray;
}

main div:nth-child(2) {
    width: 50%;
    background-color: rgb(185, 184, 184);
}

main div:nth-child(3) {
    width: 60%;
    background-color: rgb(57, 51, 51);
}

@media (max-width: 600px) {
    header {
        font-size: 1.1rem;
    }
}

@media (max-width: 500px) {
    main div:nth-child(1) {
        width: 100%;
        background-color: gray;
    }

    main div:nth-child(2) {
        width: 100%;
        background-color: rgb(185, 184, 184);
    }

    main div:nth-child(3) {
        width: 100%;
        background-color: rgb(57, 51, 51);
    }
}