/*---Header---*/
header{
    background-image: linear-gradient(45deg, #193233, #749d9c);
}
header img {
    width: 150px;
}
header .logo{
    float: left;
}
header .logo a{
    text-decoration: none;
    font-size: 1.5em; /* px, %, em*/

}
header nav li {
    display: inline-block;
    margin-left: 5xs;
}
header nav a {
    color: white;
    text-decoration: none;
    padding: 14px;
    background-color: black;
}
header nav{
    float: right;
}

/*---Main---*/

/*---Footer---*/

/*---All---*/
.clearfix{
    clear: both;
}